<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/puzzles/{{ slug }}.css">
  </head>
  <body>
    <h1 class="puzzle-title">{{ title }}</h1>
    <h2 class="puzzle-author">by Emily Cox and Henry Rathvon</h2>
    <!-- Container for the entire BarGrid -->
    <div class="bargrid-container">

      <div class="bargrid">

        <!-- Create the empty grid of square boxes -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if col in shaded_squares[row] %}
        <div class="bargrid__square bargrid__square--shaded bargrid__square--{{ row+1 }}-{{ col+1 }}">&nbsp;</div>
        {%- else -%}
        <div class="bargrid__square bargrid__square--{{ row+1 }}-{{ col+1 }}">&nbsp;</div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add blanks -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if col in blanks[row] %}
        <div class="bargrid__square bargrid__square--blank bargrid__square--{{ row+1 }}-{{ col+1 }}">&nbsp;</div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add shaded squares -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if col in shaded_squares[row] %}
        <div class="bargrid__square bargrid__square--shaded bargrid__square--{{ row+1 }}-{{ col+1 }}">&nbsp;</div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add shaded circles -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if col in shaded_circles[row] %}
        <div class="bargrid__square bargrid__square--shaded-circle bargrid__square--{{ row+1 }}-{{ col+1 }}">&nbsp;</div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add circles -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if col in circles[row] %}
        <div class="bargrid__square bargrid__square--circle bargrid__square--{{ row+1 }}-{{ col+1 }}">&nbsp;</div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add in the across and down bars -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        <div class="bargrid__square bargrid__square__bars bargrid__square--{{ row+1 }}-{{ col+1 }}
        {%- if col-1 in across_bars[row] %} bargrid__square__bars--left{% endif %}
        {%- if col in across_bars[row] %} bargrid__square__bars--right{% endif %}
        {%- if col in down_bars[row-1] %} bargrid__square__bars--top{% endif -%}
        {%- if col in down_bars[row] %} bargrid__square__bars--bottom{% endif -%}
        "></div>
        {%- endfor %}
        {%- endfor %}

        <!-- Add in the bar join caps -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if col+1 in down_bars[row-1] and col in across_bars[row-1] %}
        <div class="bargrid__square bargrid__square__barcaps bargrid__square__barcaps--ne bargrid__square--{{ row+1 }}-{{ col+1 }}"></div>
        {%- endif %}
        {%- if col+1 in down_bars[row] and col in across_bars[row+1] %}
        <div class="bargrid__square bargrid__square__barcaps bargrid__square__barcaps--se bargrid__square--{{ row+1 }}-{{ col+1 }}"></div>
        {%- endif %}
        {%- if col-1 in down_bars[row-1] and col-1 in across_bars[row-1] %}
        <div class="bargrid__square bargrid__square__barcaps bargrid__square__barcaps--nw bargrid__square--{{ row+1 }}-{{ col+1 }}"></div>
        {%- endif %}
        {%- if col-1 in down_bars[row] and col-1 in across_bars[row+1] %}
        <div class="bargrid__square bargrid__square__barcaps bargrid__square__barcaps--sw bargrid__square--{{ row+1 }}-{{ col+1 }}"></div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add in the labels -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        {%- if labels[row][col] %}
        <div class="bargrid__square bargrid__square__labels bargrid__square--{{ row+1 }}-{{ col+1 }}">
          {{- labels[row][col] -}}
        </div>
        {%- endif %}
        {%- endfor %}
        {%- endfor %}

        <!-- Add in the solutions -->
        {%- for row in range(0, rows) %}
        {%- for col in range(0, cols) %}
        <input id="item{{ row+1 }}-{{ col+1 }}" class="bargrid__square bargrid__square__input bargrid__square--{{ row+1 }}-{{ col+1 }}" onfocusin="focusInput(this)" onfocusout="blurInput(this)" type="text" minlength="1" maxlength="1" required="required" value="{{ "" if true else solution[row][col] }}" />
        {%- endfor %}
        {%- endfor %}

      </div>

    </div>
    <div class="bargrid__flavor-text">{{ flavor_text }}</div>
    <script>
      function focusInput(input) {
        input.style.backgroundColor = "#ffff00";
      }
      function blurInput(input) {
        input.style.backgroundColor = "transparent";
      }
    </script>
  </body>
</html>
