.title {
  border: none;
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
}
.grid-container {
  border: none;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  position: relative;
}
.grid {
  position: relative;
}
.grid__answers__layer {
  position: absolute;
  border: none;
  left: 4px;
  top: 4px;
  margin: 0px;
  padding: 0px;
}
.grid__bars__layer {
  position: absolute;
  border: none;
  left: 4px;
  top: 4px;
  margin: 0px;
  padding: 0px;
}
.grid__numbers__layer {
  position: absolute;
  border: none;
  left: 4px;
  top: 4px;
  margin: 0px;
  padding: 0px;
}
.grid__shadesquares__layer {
  position: absolute;
  border: none;
  left: 4px;
  top: 4px;
  margin: 0px;
  padding: 0px;
}
.grid__shadecircles__layer {
  position: absolute;
  border: none;
  left: 4px;
  top: 4px;
  margin: 0px;
  padding: 0px;
}
.grid__circles__layer {
  position: absolute;
  border: none;
  left: 4px;
  top: 4px;
  margin: 0px;
  padding: 0px;
}
.grid__answer__input {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: transparent;
  font-family: helvetica;
  font-size: 24px;
  height: 46px;
  margin: 0px;
  padding: 2px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 46px;
}
.grid__answer__input:focus {
  background: yellow;
  color: black;
}
.grid__answer__input:hover {
  background: lightblue;
  color: black;
}
.grid__bar {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-family: helvetica;
  font-size: 24px;
  margin: 0px;
  padding: 2px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}
.grid__bar:hover {
  background: lightblue;
}
.grid__number__input {
  background: transparent;
  border: none;
  color: transparent;
  box-sizing: border-box;
  font-family: helvetica;
  font-size: 14px;
  margin: 0px;
  padding: 2px;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  vertical-align: top;
}
.grid__number__input:focus {
  background: yellow;
  color: black;
}
.grid__number__input:hover {
  background: lightblue;
  color: black;
}
.grid__shadecircle {
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  margin: 0px;
  padding: 2px;
  position: absolute;
}
.grid__shadecircle:hover {
  background: lightblue;
  border-radius: 50%;
}
.grid__shadesquare {
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  margin: 0px;
  padding: 2px;
  position: absolute;
}
.grid__shadesquare:hover {
  background: lightblue;
}
.grid__circle {
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  margin: 0px;
  padding: 2px;
  position: absolute;
}
.grid__circle:hover {
  border: 2px solid lightblue;
  border-radius: 50%;
}

.controls-container {
  border: 1px solid #cccccc;
  float: left;
  padding: 2px;
}
.control-container {
  border: 1px solid #000000;
  padding: 2px;
  margin: 2px;
}
.controls__grid-size {
  font-family: sans-serif;
  font-size: 14px;
}
.controls__grid-size--select {
  border-radius: 0%;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  width: 120px;
}
.controls__grid-size--depth {
  margin: 2px;
  text-align: right;
}
.controls__grid-size--width {
  margin: 2px;
  text-align: right;
}
.controls__grid-size--button {
  margin: 2px;
  width: 120px;
}
.grid__toolbar {
  border: 1px solid black;
  display: grid;
  grid-template: repeat(2, 50%) / repeat(3, 33.333333%);
  height: 100px;
  width: 150px;
  margin: 2px;
}
.grid__toolbar__item {
  margin: 6px;
  z-index: 95;
}
.grid__toolbar__item__wrapper {
  border: 1px solid #000000;
  background: transparent;
  z-index: 100;
}
.grid__toolbar__item--answers {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.grid__toolbar__item--bars {
  font-family: sans-serif;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-right: 9px;
}
.grid__toolbar__item--numbers {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.grid__toolbar__item--shadesquares {
  background: #bbbbbb;
  /* border: 1px solid #000000; */
  padding: 1px;
  height: 34px;
  width: 34px;
}
.grid__toolbar__item--shadecircles {
  background: #bbbbbb;
  /* border: 1px solid #000000; */
  padding: 1px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
}
.grid__toolbar__item--circles {
  background: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.grid__toolbar__item--selected {
  background: #ffff00;
}
.grid__toolbar__item--settings {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  font-family: sans-serif;
}
.controls__layers {
  margin: 2px;
}
.controls__layers--header {
  border-radius: 0%;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  width: 120px;
}
.controls__layers--checkbox {
  font-family: sans-serif;
  font-size: 14px;
}
.download-button {
  margin: 2px;
  width: 142px;
}
.upload-button {
  margin: 2px;
  width: 120px;
}
.hidden {
  display: none;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}